@model List<Blog>

<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h1 class="text-primary">
				Blog List
			</h1>
		</div>
		<div class="col-6 text-end">
			<a asp-action="CreateBlog" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> Create New
			</a>
		</div>
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Content</th>
				<th>Image</th>
				<th>Created At</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var Blog in Model)
			{
				<tr>
					<td>@Blog.tilte</td>
					<td>@Blog.content</td>
					<td>@Blog.img</td>
					<td>@Blog.ngayTao.ToString("dd/MM/yyyy")</td>
					<td>
						<a href="@Url.Action("Edit", "Blog", new { id = Blog.id_Blog })">Edit</a> |
						<a href="@Url.Action("Delete", "Blog", new { id = Blog.id_Blog })">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>