@model IEnumerable<Goal>
@{
    ViewData["Title"] = "Mục tiêu sức khỏe";
}

<h2>Mục tiêu của bạn</h2>

<a asp-action="Create" class="btn btn-primary mb-3">+ Thêm mục tiêu</a>

<table class="table">
    <thead>
        <tr>
            <th>Loại</th>
            <th>Giá trị mục tiêu</th>
            <th>Thời hạn</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goal in Model)
        {
            <tr>
                <td>@goal.GoalType.NameGoalType</td>
                <td>@goal.TargetValue</td>
                <td>@goal.TargetDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@goal.Id_Goal">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@goal.Id_Goal">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

